<div class="dropdown">
    <button class="dropbtn">
        <img src="/image-data/flm-green-logo.png" alt="Logo" class="logo">
    </button>
    <div class="dropdown-content">
        <div id="userInfo">User Info</div>
        <!-- Buttons will be aligned in a row to the right -->
        <a href="#" class="common-button" id="logoutOption">Logout</a>

        <!-- Add any other buttons you want here -->
    </div>
</div>