<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/register-styling.css">
</head>
<body>
  <div class="container">
    <h1>Register</h1>
    <form id="registerForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br>
      <button type="submit">Register</button>
    </form>
    <p><a href="/" id="already-have-account">Already have an account? Login here</a></p>
  </div>

  <!-- Spinner container -->
  <div id="spinner-container" style="display: none;">
    <div id="spinner"></div>
  </div>

  <!-- Popup HTML -->
  <div id="popup" class="popup">
    <div class="popup-content">
      <span id="popup-close" class="popup-close">&times;</span>
      <p id="popup-message"></p>
      <button id="popup-ok" class="popup-ok">Okay</button>
    </div>
  </div>

  <script src="/javascript/register-page-javascript.js"></script>
</body>

</html>
