* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 60%;
  height: 80vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  
  /* Animation properties */
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 0.8s forwards; /* Apply fadeIn animation */
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  to {
    opacity: 1; /* End fully opaque */
  }
}

.illustration {
  flex: 1;
  background: url('/image-data/login-page-background.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 30px;
}

.login-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #e2e6ee, #ffffff);
  padding: 20px;
}

.form-container {
  text-align: center;
  max-width: 80%;
  width: 100%;
}

.register-link {
  text-align: right;
  font-size: 14px;
  margin-bottom: 20px;
}

.register-link a {
  color: #00aaff;
  text-decoration: none;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 16px;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
}

form input:focus {
  outline: none;
  border-color: #00aaff;
}

.password-options {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}

.recovery-password {
  font-size: 14px;
  color: #00aaff;
  text-decoration: none;
}

.sign-in-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #006938;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.sign-in-btn:hover {
  background-color: #00552d;
}

.social-login {
  margin-top: 20px;
}

.social-login p {
  font-size: 14px;
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* Error message styling */
.error-message {
  margin-top: 10px;
  color: red;
  font-size: 14px;
  display: none; /* Hidden by default */
}